<br>

<div class="container">
    
  <div class="row">
    <div class="col-md-8">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Create Categories</h3>
        </div>
        <div class="card-body">

         
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" id="name"/>
            </div>
            <div class="form-group">
                <label>IMage</label>
                <input type="file" class="form-control" (change)="onFileChange($event)" #fileInput name="iimage" id="iimage"/>
            </div>
            <button type="submit" class="btn btn-primary float-right" (click)="add()">Save</button>
       
      </div>
    </div>
  </div>
</div>