<br>
<div class="row">
  <div class="col-md-12">
    <a routerLink="/category-create" routerLinkActive="router-link-active"
      class="btn btn-primary float-right">{{'new' | translate}}</a>
  </div>
</div>
<p></p>
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Categories</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-11">
            <input type="text" class="form-control" placeholder="search by id name name" [(ngModel)]="seaching"
              name="searching" />
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-primary float-right" (click)="bsearch()">Search</button>
          </div>
        </div>
        <p></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Body</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resData | paginate: config">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.namekh}}</td>
              <td>
                <a routerLink="/category-edit/{{item.id}}" routerLinkActive="router-link-active"
                  class="btn btn-primary btn-sm">{{'edit' | translate}}</a>
                <button type="button" (click)="delete(item.id)" class="btn btn-danger btn-sm">{{'delete' | translate}}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="float-right">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>