<br>

<div class="container">
    
  <div class="row">
    <div class="col-md-8">
       

      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Create Categories</h3>
        </div>
        <div class="card-body">
 

          <form [formGroup]="formInputData" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && validation.name.errors }" [(ngModel)]="category.name"/>
                <div *ngIf="submitted && validation.name.errors" class="invalid-feedback">
                    <div *ngIf="validation.name.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Name Kh</label>
                <input type="text" formControlName="namekh" class="form-control" [ngClass]="{ 'is-invalid': submitted && validation.namekh.errors }" [(ngModel)]="category.namekh"/>
                <div *ngIf="submitted && validation.namekh.errors" class="invalid-feedback">
                    <div *ngIf="validation.namekh.errors.required">Last Name is required</div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary float-right">Save</button>
        </form>

              
              

      </div>



    </div>
  </div>
</div>