<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Create Supplier</h3>
        </div>
        <div class="card-body">

          <form [formGroup]="formInputData" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && validation.name.errors }" [(ngModel)]="formData.name"/>
                <div *ngIf="submitted && validation.name.errors" class="invalid-feedback">
                    <div *ngIf="validation.name.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
               
                    <select class="form-control" id="gender" [(ngModel)]="formData.gender" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && validation.gender.errors }">
                      <option value="Female">Female</option>
                      <option value="Male">Male</option>
                    </select>
                    <div *ngIf="submitted && validation.gender.errors" class="invalid-feedback">
                        <div *ngIf="validation.gender.errors.required">Gender is required</div>
                    </div>
                  
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && validation.address.errors }" [(ngModel)]="formData.address"/>
                <div *ngIf="submitted && validation.address.errors" class="invalid-feedback">
                    <div *ngIf="validation.address.errors.required">Address is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && validation.phone.errors }" [(ngModel)]="formData.phone"/>
                <div *ngIf="submitted && validation.phone.errors" class="invalid-feedback">
                    <div *ngIf="validation.phone.errors.required">Phone is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && validation.email.errors }" [(ngModel)]="formData.email"/>
                <div *ngIf="submitted && validation.email.errors" class="invalid-feedback">
                    <div *ngIf="validation.email.errors.required">Email is required</div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary float-right">Save</button>
        </form>

              
              

      </div>



    </div>
  </div>
</div>