<br>

<div class="container">
  <!-- $resData->category_id=$request->category_id;
  $resData->supplier_id=$request->supplier_id;

  $resData->qtyonhand=$request->qtyonhand;
  $resData->qtyalert=$request->qtyalert; -->
  <div class="row">
    <div class="col-md-10">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Create Product</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formInputData" (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                        <label>Barcode</label>
                        <input type="text" formControlName="barcode" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && validation.barcode.errors }" 
                        [(ngModel)]="product.barcode"/>
                        <div *ngIf="submitted && validation.barcode.errors" class="invalid-feedback">
                            <div *ngIf="validation.barcode.errors.required">Barcode is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" formControlName="title" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && validation.title.errors }" 
                        [(ngModel)]="product.title"/>
                        <div *ngIf="submitted && validation.title.errors" class="invalid-feedback">
                            <div *ngIf="validation.title.errors.required">Title is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Title Kh</label>
                        <input type="text" formControlName="titlekh" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && validation.titlekh.errors }" 
                        [(ngModel)]="product.titlekh"/>
                        <div *ngIf="submitted && validation.titlekh.errors" class="invalid-feedback">
                            <div *ngIf="validation.titlekh.errors.required">Title Kh is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                      <label>Categories</label>
                      <select class="form-control" id="category_id" 
                      [(ngModel)]="product.category_id" formControlName="category_id" 
                      [ngClass]="{ 'is-invalid': submitted && validation.category_id.errors }">
                        <option value="1">Female</option>
                        <option value="2">Male</option>
                      </select>
                      <div *ngIf="submitted && validation.category_id.errors" class="invalid-feedback">
                          <div *ngIf="validation.category_id.errors.required">Category is required</div>
                      </div>
                  </div>
               

                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Supplier</label>
                      <select class="form-control" id="supplier_id" 
                      [(ngModel)]="product.supplier_id" formControlName="supplier_id" 
                      [ngClass]="{ 'is-invalid': submitted && validation.supplier_id.errors }">
                        <option value="1">Female</option>
                        <option value="2">Male</option>
                      </select>
                      <div *ngIf="submitted && validation.supplier_id.errors" class="invalid-feedback">
                          <div *ngIf="validation.supplier_id.errors.required">Supplyer is required</div>
                      </div>
                  </div>
                    <div class="form-group">
                        <label>Qty On Hand</label>
                        <input type="text" formControlName="qtyonhand" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && validation.qtyonhand.errors }" 
                        [(ngModel)]="product.qtyonhand"/>
                        <div *ngIf="submitted && validation.qtyonhand.errors" class="invalid-feedback">
                            <div *ngIf="validation.qtyonhand.errors.required">Qty on hand is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                      <label>Qty Alert</label>
                      <input type="text" formControlName="qtyalert" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && validation.qtyalert.errors }" 
                      [(ngModel)]="product.qtyalert"/>
                      <div *ngIf="submitted && validation.qtyalert.errors" class="invalid-feedback">
                          <div *ngIf="validation.qtyalert.errors.required">Qty alert is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label>Image</label>
                    <input type="file" name="proimage" formControlName="proimage" class="form-control" 
                    (change)="fileProgress($event)" 
                    [ngClass]="{ 'is-invalid': submitted && validation.proimage.errors }" 
                    [(ngModel)]="product.proimage" />
                    <!-- <input type="text" formControlName="proimage" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && validation.proimage.errors }" 
                    [(ngModel)]="product.proimage"/> -->
                    <div *ngIf="submitted && validation.proimage.errors" class="invalid-feedback">
                        <div *ngIf="validation.proimage.errors.required">Image is required</div>
                    </div>
                </div>
                  </div>
              </div>
            
            
            <button type="submit" class="btn btn-primary float-right">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>