<!-- ppppppppppppppppppppppp -->
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    

    <ul class="navbar-nav ml-auto">
      <select class="form-control" (change)="changeLang($event.target.value)">
        <option value="en" [selected]="lang=='en'">
          En
        </option>
        <option value="kh" [selected]="lang=='kh'">
          Kh
        </option>
      </select>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
          Name
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            Profile
          </a>
          <a href="#" (click)="onLogout()" class="dropdown-item">
            Logout
          </a>
        </div>
      </li>

    </ul>

  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="brand-link">
      <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light stockkh-title-bar">{{'stockkh' | translate}}</span>
    </a>
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
     

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                {{'managesetup' | translate}}
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/categories" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{{'categories' | translate}}</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/product" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{{'product' | translate}}</p>
                </a>
              </li>
            </ul>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/supplier" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{{'supplier' | translate}}</p>
                </a>
              </li>
            </ul>

          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                {{'another' | translate}}
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
          
              <li class="nav-item">
                <a routerLink="/pagination" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Pagination</p>
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="/validation" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Validation Form</p>
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="/toastr" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Toastr Alert</p>
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="/brand" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Brand</p>
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="/upload" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Upload File</p>
                </a>
              </li>


            </ul>
          </li>


         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  
</div>