<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">

      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Create Categories</h3>
        </div>
        <div class="card-body">
 <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="name" name="name" [(ngModel)]="category.name">
              </div>
              <div class="form-group">
                <label for="namekh">Name Kh:</label>
                <input type="text" class="form-control" placeholder="name kh" [(ngModel)]="category.namekh" name="namekh">
              </div>
              <button type="button" class="btn btn-primary float-right" (click)="update()">Upate</button>
      </div>
    </div>
    </div>
  </div>
</div>