<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Update Supplier</h3>
        </div>
        <div class="card-body">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" [(ngModel)]="formData.name"/>
               
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
               
                    <select class="form-control" id="gender" [(ngModel)]="formData.gender">
                      <option value="Female">Female</option>
                      <option value="Male">Male</option>
                    </select>
                  
                  
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" [(ngModel)]="formData.address"/>
                
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control" [(ngModel)]="formData.phone"/>
            
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" [(ngModel)]="formData.email"/>
              
            </div>
            
            <button type="submit" class="btn btn-primary float-right" (click)="update()">Update</button>
     
      </div>

    </div>
  </div>
</div>