<br>
<div class="row">
  <div class="col-md-12">
    <a routerLink="/product-create" routerLinkActive="router-link-active"
      class="btn btn-primary float-right">{{'new' | translate}}</a>
  </div>
</div>
<p></p>
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">{{'product' | translate}}</h3>
      </div>
      <div class="card-body">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Title Kh</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resData | paginate: config">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.namekh}}</td>
              <td>
                <img src="{{item.image}}" class="img-thumbnail" width="100" height="100">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="float-right">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>