<h1>Angular 9 Toastr Notifications Example - ItSolutionStuff.com</h1>
  
<button type="button" (click)="showToasterSuccess()" class="btn btn-success">
    Success Toaster
</button>
  
<button type="button" (click)="showToasterError()" class="btn btn-danger">
    Error Toaster
</button>
  
<button type="button" (click)="showToasterInfo()" class="btn btn-info">
    Info Toaster
</button>
  
<button type="button" (click)="showToasterWarning()" class="btn btn-warning">
    Warning Toaster
</button>