<h2>Brand</h2>
<div class="row">
  <div class="col-md-12">
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Categories</h3>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Brand</th>
              <th>Short Brand</th>
             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resData">
              <td>{{item.brandid}}</td>
              <td>{{item.brandname}}</td>
              <td>{{item.shortname}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>